button {
	@extend %centered;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	border: none;
	border-radius: 4px;
	&:focus {
		outline: none;
	}
}

.order-button,
.subscribe-button,
.send-button {
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: $white-clr;
	background-color: $brand-clr;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.order-button,
.subscribe-button {
	transition: border $time $curv;
	&:hover,
	&:focus {
		border: 1px solid $white-clr;
	}
}

.order-button {
	padding: 0 32px;
}

.subscribe-button {
	padding: 0 28px;
	&__icon {
		width: 24px;
		height: 24px;
		margin-left: 10px;
		fill: $white-clr;
	}
}

.send-button {
	transition: box-shadow $time $curv;
	&:hover,
	&:focus {
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8),
			0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}

.close-button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: transparent;
	transition: box-shadow $time $curv;
	&:hover,
	&:focus {
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
		box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
	}
	&__icon {
		width: 11px;
		height: 11px;
		fill: $black-clr;
		transition: fill $time $curv;
		.close-button:hover &,
		.close-button:focus & {
			fill: $brand-clr;
		}
	}
}

.menu-open-btn,
.menu-close-btn {
	background-color: transparent;
	&__icon {
		width: 40px;
		height: 40px;
	}
}

.menu-close-btn__icon {
	fill: $contrast-clr;
	transition: fill $time $curv;
	&:hover {
		fill: $brand-clr;
	}
}

.menu-open-btn__icon {
	transition: fill $time $curv;
	&:hover {
		fill: $brand-clr;
	}
}
