.logo {
	display: block;
	font-family: Raleway;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: $black-clr;
	padding: 16px 0;
	@include tablet {
		font-size: 26px;
		line-height: 1.19;
		padding-top: 24px;
		padding-bottom: 25px;
	}
	&--invers {
		color: $white-clr;
		padding: 0;
	}
	&--brand {
		color: $brand-clr;
	}
}
