// Куда? В миксины или в заголовки?


@mixin section-title(
	$fw: 700,
	$fz: 36px,
	$lh: 1.17,
	$ls: 0.03em,
	$ta: center,
	$mb: 50px,
	$clr: $contrast-clr
) {
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	letter-spacing: $ls;
	text-align: $ta;
	margin-bottom: $mb;
	color: $clr;
}

@mixin section-subtitle(
	$fw: 700,
	$fz: 14px,
	$lh: 1.14,
	$ls: 0.03em,
	$tt: uppercase,
	$mb: 20px,
	$clr: $white-clr
) {
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	letter-spacing: $ls;
	text-transform: $tt;
	margin-bottom: $mb;
	color: $clr;
}
