h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

address {
	font-style: inherit;
	color: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

input,
textarea {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
