%horisontal-orientation {
	display: flex;
	align-items: center;
}

%centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

%visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

// после задания паддингов всех секций удалить.
%standard-section {
	padding: $section-gap 0;
}
//

%standard-section-mobile {
	padding: $section-gap-mobile 0;
}
