.benefits-section {
	@extend %standard-section-mobile;
	@include desktop {
		padding-top: $section-gap;
		padding-bottom: 0;
	}
	&__container {
		@extend .container;
	}
	&__title {
		@extend %visually-hidden;
	}
	&__list {
		margin-bottom: -30px;
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			margin-right: -30px;
		}
	}
}
