.clients-section {
	@extend %standard-section-mobile;
	@include desktop {
		padding: $section-gap 0;
	}
	&__container {
		@extend .container;
	}
	&__title {
		@include section-title-mobile();
		@include desktop {
			@include section-title();
		}
	}
	&__list {
		@extend %horisontal-orientation;
		flex-wrap: wrap;
		margin-bottom: -30px;
		margin-right: -30px;
	}
	&__item {
		height: 92px;
		margin-bottom: 30px;
		margin-right: 30px;
		@include mobile {
			width: calc(100% / 2 - 30px);
		}
		@include tablet {
			width: calc(100% / 3 - 30px);
		}
		@include desktop {
			width: calc(100% / 6 - 30px);
		}
	}
	&__link {
		@extend %centered;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		border: 1px solid $client-border-clr;
		transition: border $time $curv;
		&:hover,
		&:focus {
			border: 1px solid $brand-clr;
			outline: none;
		}
	}
	&__icon {
		width: 106px;
		height: 60px;
		fill: $client-border-clr;
		transition: fill $time $curv;
		.clients-section__item:hover &,
		.clients-section__link:focus & {
			fill: $brand-clr;
		}
	}
}
