.footer-section {
	padding: 60px 0px;
	background-color: $footer-clr;
	&__container {
		@extend .container;
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}
	&__contacts,
	&__social {
		width: calc((100% + 30px) / 4 - 30px);
		margin-left: 0;
		margin-right: 30px;
	}
	&__subscribe {
		width: calc((100% + 30px) / 2 - 30px);
		margin-right: 0;
	}
	&__logo {
		margin-bottom: 20px;
	}
	&__social-title,
	&__subscribe-title {
		@include section-subtitle();
	}
}
