.header-section {
	border-bottom: solid 1px $border-clr;
	background-color: $white-clr;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 2;
	&__container {
		@extend %horisontal-orientation;
		@include tablet {
			justify-content: space-between;
		}
	}
	&__logo {
		@include desktop {
			margin-right: 93px;
		}
	}
	&__navigation {
		display: none;
		@include tablet {
			display: flex;
		}
	}
	&__contacts {
		display: none;
		@include tablet {
			display: block;
			padding: 16px 0;
		}
		@include desktop {
			padding: 0;
			display: flex;
			margin-left: auto;
		}
	}
	&__button {
		padding: 10px 0;
		margin-left: auto;
		@include tablet {
			display: none;
		}
	}
}
