.backdrop-mobile {
	z-index: 3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: $white-clr;
	transition: transform 600ms ease-in-out;
}

.is-hidden-mobile {
	pointer-events: auto;
	transform: translateX(100%);
}

.mobile-menu {
	&__container {
		position: relative;
		margin: 0 auto;
		width: $mobile;
		padding: 48px 40px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// &__navigation {
	// }
	// &__contacts {
	// }
	&__socials {
		margin-top: 64px;
	}
	&__button {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}
