.portfolio-section {
	@extend %standard-section;
	&__title {
		@extend %visually-hidden;
	}
	&__container {
		@extend .container;
	}
	&__filter {
		@extend %horisontal-orientation;
		justify-content: center;
		margin-bottom: 50px;
	}
	&__grid {
		@extend %horisontal-orientation;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: -30px;
		margin-bottom: -30px;
	}
}
