.portfolio-section {
	padding: $section-gap-mobile 0;
	@include desktop {
		padding: $section-gap 0;
	}
	&__title {
		@extend %visually-hidden;
	}
	&__filter {
		margin-bottom: 25px;
		@include tablet {
			margin-bottom: 30px;
			justify-content: center;
		}
		@include desktop {
			margin-bottom: 50px;
		}
	}
	&__grid {
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			margin-left: -30px;
			margin-bottom: -30px;
		}
	}
}
